# Запитання 1 : Які країни є експортерами вихідних матеріалів у найбільших обсягах? 

Найвдалішим рішенням до цього запитання є, на мою думку, інтерактивна мапа з боковим лінійним трендом для кожної з країн. Варіанти, які розглядала:

1) лінійний тренд для кожної з країн -- було б складно відслідковувати тренд для кожної з країн та порівнювати 2 між собою ;

2) тільки інтерактивна мапа з рухомим повзунком для років -- для порівняння країн у випадку даного представлення потрібно було б щоразу наводити мишкою на певні країни щоб дізнатись їх значення, окрім того складно відслідкувати тренд в межах однієї країни;

3) такі варіанти як пай чарт чи гістограма унеможливили б зрозуміле порівняння країн між собою

In [41]:
import altair as alt
import pandas as pd
import altair_viewer
import warnings
warnings.filterwarnings('ignore')
alt.renderers.enable('altair_viewer')

RendererRegistry.enable('altair_viewer')

In [42]:
data = pd.read_csv('UNdata_Export_20211219_151223778.csv')
data.head()

,Country or Area,Year,Commodity,Flow,Trade (USD),Weight (kg),Quantity Name,Quantity
0,Afghanistan,2018,"Cocoa powder, unsweetened",Import,7.247329e+04,8.070000e+04,Weight in kilograms,8.070000e+04
1,Afghanistan,2018,Chocolate/cocoa food preparations nes,Import,3.281740e+07,5.662823e+06,Weight in kilograms,5.662823e+06
2,Afghanistan,2018,Chocolate/cocoa food preparations nes,Export,4.327404e+06,0.000000e+00,Weight in kilograms,6.239175e+06
3,Afghanistan,2018,Chocolate/cocoa food preparations nes,Re-Export,7.452492e+04,0.000000e+00,Weight in kilograms,0.000000e+00
4,Afghanistan,2016,Chocolate/cocoa food preparations nes,Import,1.568728e+08,2.677301e+07,Weight in kilograms,2.677301e+07

In [43]:
set(data['Commodity'])

{'Chocolate and other food preps containing cocoa > 2 k',
 'Chocolate, cocoa prep, block/slab/bar, not filled,>2k',
 'Chocolate, cocoa preps, block, slab, bar, filled, >2k',
 'Chocolate/cocoa food preparations nes',
 'Cocoa beans, whole or broken, raw or roasted',
 'Cocoa butter, fat, oil',
 'Cocoa paste not defatted',
 'Cocoa paste wholly or partly defatted',
 'Cocoa powder, sweetened',
 'Cocoa powder, unsweetened',
 'Cocoa shells, husks, skins and waste'}

In [44]:
set(data['Flow']), data.shape

({'Export', 'Import', 'Re-Export', 'Re-Import'}, (65353, 8))

In [45]:
data = data[data['Flow']=='Export']
data.shape

(24339, 8)

In [46]:
data = data[data['Commodity']=='Cocoa beans, whole or broken, raw or roasted']
data.head()

,Country or Area,Year,Commodity,Flow,Trade (USD),Weight (kg),Quantity Name,Quantity
213,Albania,1997,"Cocoa beans, whole or broken, raw or roasted",Export,3447.00,3500.0,Weight in kilograms,3500.0
842,Angola,2016,"Cocoa beans, whole or broken, raw or roasted",Export,25.75,12.0,Weight in kilograms,10.0
1112,Antigua and Barbuda,2000,"Cocoa beans, whole or broken, raw or roasted",Export,465.00,127.0,Weight in kilograms,127.0
1616,Argentina,1993,"Cocoa beans, whole or broken, raw or roasted",Export,420.00,132.0,Weight in kilograms,132.0
1636,Armenia,2019,"Cocoa beans, whole or broken, raw or roasted",Export,13462.21,23806.0,Weight in kilograms,23806.0

In [47]:
data.shape

(2033, 8)

In [48]:
data = data.groupby(['Country or Area', 'Year' ]).sum().reset_index()
data.shape

(2033, 5)

In [49]:
data.head()

       Country or Area  Year  Trade (USD)  Weight (kg)  Quantity
0              Albania  1997      3447.00       3500.0    3500.0
1               Angola  2016        25.75         12.0      10.0
2  Antigua and Barbuda  2000       465.00        127.0     127.0
3            Argentina  1993       420.00        132.0     132.0
4              Armenia  2014     28671.00      15784.0   15784.0

In [50]:
cols = list(data.columns)
cols

['Country or Area', 'Year', 'Trade (USD)', 'Weight (kg)', 'Quantity']

In [51]:
import geopandas as gpd
world = gpd.read_file('world-countries.json')
world.head()

,id,name,geometry
0,AFG,Afghanistan,"POLYGON ((61.21082 35.65007, 62.23065 35.27066..."
1,AGO,Angola,"MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6..."
2,ALB,Albania,"POLYGON ((20.59025 41.85540, 20.46317 41.51509..."
3,ARE,United Arab Emirates,"POLYGON ((51.57952 24.24550, 51.75744 24.29407..."
4,ARG,Argentina,"MULTIPOLYGON (((-65.50000 -55.20000, -66.45000..."

In [52]:
cols = list(data.columns)
cols[0] = 'name'
data.columns = cols

In [53]:
data.head()

                  name  Year  Trade (USD)  Weight (kg)  Quantity
0              Albania  1997      3447.00       3500.0    3500.0
1               Angola  2016        25.75         12.0      10.0
2  Antigua and Barbuda  2000       465.00        127.0     127.0
3            Argentina  1993       420.00        132.0     132.0
4              Armenia  2014     28671.00      15784.0   15784.0

In [54]:
len(data[data['Weight (kg)']==0])

35

In [55]:
data.shape

(2033, 5)

In [56]:
j =0 
k = 0

to_drop = []

for i,r in data.iterrows():
    if r['Weight (kg)'] == 0 and r['Quantity'] != 0:
        j +=1
    elif r['Weight (kg)'] == 0 and r['Quantity'] == 0:
        k +=1
        to_drop.append(i)

In [57]:
j,k, to_drop

(8,
 27,
 [32,
  251,
  252,
  285,
  353,
  354,
  355,
  356,
  541,
  899,
  1171,
  1172,
  1268,
  1361,
  1604,
  1606,
  1607,
  1608,
  1645,
  1687,
  1702,
  1712,
  1815,
  2015,
  2016,
  2017,
  2025])

In [58]:
data.drop(to_drop, axis=0, inplace=True)
data.shape

(2006, 5)

In [59]:
data.head()

                  name  Year  Trade (USD)  Weight (kg)  Quantity
0              Albania  1997      3447.00       3500.0    3500.0
1               Angola  2016        25.75         12.0      10.0
2  Antigua and Barbuda  2000       465.00        127.0     127.0
3            Argentina  1993       420.00        132.0     132.0
4              Armenia  2014     28671.00      15784.0   15784.0

In [60]:
data[data['Weight (kg)'] != data['Quantity']]

,name,Year,Trade (USD),Weight (kg),Quantity
1,Angola,2016,2.575000e+01,1.200000e+01,1.000000e+01
133,Bolivia (Plurinational State of),2010,2.378719e+06,6.998000e+05,6.942140e+05
134,Bolivia (Plurinational State of),2011,1.916868e+06,5.090251e+05,5.089251e+05
249,Canada,2015,1.737904e+06,0.000000e+00,1.318557e+06
250,Canada,2016,2.053515e+06,0.000000e+00,6.782853e+05
253,Canada,2019,2.256409e+07,0.000000e+00,1.051203e+07
366,Croatia,2017,7.058100e+04,0.000000e+00,2.659243e+04
422,Côte d'Ivoire,2016,3.059996e+09,0.000000e+00,1.054963e+09
423,Côte d'Ivoire,2017,3.505214e+09,0.000000e+00,1.508130e+09
424,Côte d'Ivoire,2018,3.253067e+09,1.522965e+09,0.000000e+00
531,Ecuador,2017,5.897502e+08,2.845461e+08,2.818729e+08
532,Ecuador,2018,6.651773e+08,2.940628e+08,2.897243e+08
821,Honduras,2017,1.985239e+06,8.682179e+05,8.751582e+05
1220,New Zealand,2018,8.052468e+03,0.000000e+00,1.803000e+03
1381,Philippines,2017,8.378805e+06,3.436831e+06,3.094380e+06
1804,Togo,2015,2.460931e+07,9.721367e+06,9.351302e+06
1806,Togo,2017,3.906786e+06,4.903103e+06,6.408800e+04
1913,Uganda,2017,5.420792e+07,2.752824e+07,2.751615e+07
1914,Uganda,2018,6.469503e+07,3.077040e+07,3.075248e+07
1982,United Rep. of Tanzania,2018,3.461388e+06,0.000000e+00,3.142299e+06

In [61]:
min(data['Weight (kg)']), max(data['Weight (kg)'])

(0.0, 5876131524.0)

In [62]:
to_drop2 = [i for i,r in data[data['Quantity']==0.0].iterrows()]
to_drop2

[424]

In [63]:
to_drop2 = [i for i,r in data[data['Quantity']==0.0].iterrows()]
data.drop(to_drop2, inplace=True)

In [64]:
data[data['Weight (kg)']==0.0]

                         name  Year   Trade (USD)  Weight (kg)      Quantity
249                    Canada  2015  1.737904e+06          0.0  1.318557e+06
250                    Canada  2016  2.053515e+06          0.0  6.782853e+05
253                    Canada  2019  2.256409e+07          0.0  1.051203e+07
366                   Croatia  2017  7.058100e+04          0.0  2.659243e+04
422             Côte d'Ivoire  2016  3.059996e+09          0.0  1.054963e+09
423             Côte d'Ivoire  2017  3.505214e+09          0.0  1.508130e+09
1220              New Zealand  2018  8.052468e+03          0.0  1.803000e+03
1982  United Rep. of Tanzania  2018  3.461388e+06          0.0  3.142299e+06

# Merging data

In [65]:
merged = world.merge(data, how='right')
merged.shape

(2005, 7)

In [66]:
merged.head()

,id,name,geometry,Year,Trade (USD),Weight (kg),Quantity
0,AGO,Angola,"MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6...",2016,25.75,12.0,10.0
1,ALB,Albania,"POLYGON ((20.59025 41.85540, 20.46317 41.51509...",1997,3447.00,3500.0,3500.0
2,ARE,United Arab Emirates,"POLYGON ((51.57952 24.24550, 51.75744 24.29407...",2005,10769.00,1150.0,1150.0
3,ARE,United Arab Emirates,"POLYGON ((51.57952 24.24550, 51.75744 24.29407...",2007,4098.00,5050.0,5050.0
4,ARE,United Arab Emirates,"POLYGON ((51.57952 24.24550, 51.75744 24.29407...",2008,19409.00,12570.0,12570.0

In [67]:
'USA' in merged['id']

False

In [68]:
merged['$/kg']=merged['Trade (USD)']/merged['Quantity']

In [69]:
# input_dropdown = alt.binding_select(options = merged_1.Year.unique())
# select_region = alt.selection_single(fields = ['Year'], bind = input_dropdown, name='Choose')


alt.Chart(merged, title='Quantity of exported material by country').project(type = 'equalEarth'
    ).mark_geoshape().encode(
#     color = '#d3d3d3',
).properties(width = 950, height = 500, padding = 25).configure_title(fontSize=20)


# alt.Chart(merged, title='Quantaty of exported material by country').project(type = 'equalEarth').mark_geoshape().encode(
#     color = alt.Color('$/kg:Q', title='Price for kilo of exported goods'),
#     tooltip = [
#         alt.Tooltip('name:N'),
#         alt.Tooltip('$/kg:Q', title='Price for kilo of exported goods'),
#         alt.Tooltip('Commodity:O', title='Commodity')
#     ]
# ).transform_filter(
#     select_region
# ).add_selection(
#     select_region).properties(width = 950, height = 500, padding = 25).configure_title(fontSize=20)

Displaying chart at http://localhost:19857/

Так як фільтрація даних по рядках, що відповідають сирим вихідним матеріалам призводить до великої втрати даних, я вирішила дещо модифікувати запитання, та порівнювати країни між собою в межах будь-якої експортованої продукції

In [70]:
data = pd.read_csv('UNdata_Export_20211219_151223778.csv')
data['Country or Area'][data['Country or Area']=='USA'] = 'United States of America'
data['Country or Area'][data['Country or Area']=='Viet Nam'] =  'Vietnam'
data['Country or Area'][data['Country or Area']=='Russian Federation'] =  'Russia'
data['Country or Area'][data['Country or Area']=='Czech Rep.'] =  'Czech Republic'
data['Country or Area'][data['Country or Area']=='Congo'] =  'Democratic Republic of the Congo'
data['Country or Area'][data['Country or Area']=='Rep. of Moldova'] = 'Moldova'
data['Country or Area'][data['Country or Area']=='Bahamas'] = 'The Bahamas'
data['Country or Area'][data['Country or Area']=='Dominican Rep.'] = 'Dominican Republic'
data['Country or Area'][data['Country or Area']=='United Rep. of Tanzania'] =  'United Republic of Tanzania'
data['Country or Area'][data['Country or Area']=='Bolivia (Plurinational State of)'] =  'Bolivia'
data['Country or Area'][data['Country or Area']=='Serbia'] =  'Republic of Serbia'
data['Country or Area'][data['Country or Area']=="Lao People's Dem. Rep."] =  'Laos'

data = data[data['Flow']=='Export']
data = data.groupby(['Country or Area', 'Year' ]).sum().reset_index()
cols = list(data.columns)
cols[0] = 'name'
data.columns = cols


world = gpd.read_file('world-countries.json')

j =0 
k = 0

to_drop = []

for i,r in data.iterrows():
    if r['Weight (kg)'] == 0 and r['Quantity'] != 0:
        j +=1
    elif r['Weight (kg)'] == 0 and r['Quantity'] == 0:
        k +=1
        to_drop.append(i)

data.drop(to_drop, axis=0, inplace=True)

to_drop2 = [i for i,r in data[data['Quantity']==0.0].iterrows()]
data.drop(to_drop2, inplace=True)
merged = world.merge(data, how='outer')
merged['$/kg']=merged['Trade (USD)']/merged['Quantity']
merged.head()

,id,name,geometry,Year,Trade (USD),Weight (kg),Quantity,$/kg
0,AFG,Afghanistan,"POLYGON ((61.21082 35.65007, 62.23065 35.27066...",2018.0,4327404.33,0.00,6239175.12,0.693586
1,AGO,Angola,"MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6...",2015.0,22584.41,22364.94,9532.10,2.369301
2,AGO,Angola,"MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6...",2016.0,102241.55,58593.00,35176.77,2.906508
3,AGO,Angola,"MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6...",2017.0,139118.32,18036.00,3290.32,42.281091
4,AGO,Angola,"MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6...",2018.0,15192.46,8237.00,8237.00,1.844417

In [89]:
options=[None]
options.extend(sorted(merged.name.unique().tolist()))
labels=['All']
labels.extend(sorted(merged.name.unique().tolist()))

select_region_map = alt.selection_single(on = 'click', fields = ['name'], nearest = False, empty = 'all')
select_region_lines = alt.selection_single(on = 'click', fields = ['name'], nearest = False, empty = 'all')


input_dropdown = alt.binding_select(options = options, labels=labels)
select_lines = alt.selection_single(fields = ['name'], bind = input_dropdown, name='Choose')

slider = alt.binding_range(name='Year:', min=min(merged['Year']), max=max(merged['Year']), step=1)
select_region =alt.selection_single(name="SelectorName", fields=['Year'],
                            bind=slider, init={"Year": 2010})

one = alt.Chart(merged, title='Quantity of exported material by country').project(type = 'equalEarth'
    ).mark_geoshape().encode(
    color = alt.value('lightgrey')
)

merged = merged[merged['Quantity'] < 1000000000]
min_q = min(merged['Quantity'])
max_q = max(merged['Quantity'])

two = alt.Chart(merged, title='Quantaty of exported material by country').project(type = 'equalEarth').mark_geoshape().encode(
#     color = alt.Color('Quantity:Q', title='Quantity of exported goods, kg')
    color = alt.Color('Quantity:Q', scale = alt.Scale(scheme = 'redyellowblue',
                    domain = [min_q, max_q],reverse=True),  title='Quantity of exported goods, kg'),
    tooltip = [
        alt.Tooltip('name:N'),
        alt.Tooltip('$/kg:Q', title='Price for kilo of exported goods', format="$,.2f",
                   labelExpr='datum.value+"$"')
    ],
    opacity = alt.condition((select_region_map) | (select_lines) |(select_region_lines), 
                            alt.value(1), alt.value(0.6)), 
).transform_filter(
    select_region
).add_selection(
    select_region)

map__ = (one+two).add_selection(
    select_region_map
).properties(width = 800, height = 400)
# .interactive()

In [90]:
# trend throughout the years
data['Year'] = data['Year'].astype(str)
trend_linear = alt.Chart(data, title='Export goods trends through all the years').mark_line().encode(
    x = alt.X(field='Year', 
              type='temporal'
             ),
    y = alt.Y('Quantity:Q', title='Quantity of goods exported, kg'),
    detail = alt.Detail('name:N'),
    tooltip = [
        alt.Tooltip('name:O', title='Country name')
    ],
    size = alt.condition(
    (select_region_map) | (select_lines) | (select_region_lines),
    alt.value(3),
    alt.value(0.2)),
    color = alt.condition((select_lines) | (select_region_map) |(select_region_lines), 
#                           alt.value('#476930'), 
                          alt.Color('name:N', legend=None),
                          alt.value("darkgrey"))
).add_selection(select_lines
).add_selection(select_region_lines
).transform_filter( (select_lines) | (select_region_map) | (select_region_lines)
).properties(width = 600, height = 400)

alt.hconcat(map__, 
            trend_linear
           ).configure_view(
    strokeWidth=0
).configure_title(fontSize=20).configure_axis(
    labelFontSize=10,
    titleFontSize=17
).configure_legend(orient='bottom')

Displaying chart at http://localhost:19857/

Багатолінійний графік справа є збереженим навіть під час взаємодії з картою для того, щоб могти порівняти тренди для двох країн: однієї: виділеної кліком на самому графіку, та іншої, виділеної кліком на карті. Таким чином можна зафіксувати одну країну на графіку і порівнювати динамічно з кількома в залежності від розташування на мапі. Можна піти і зворотним шляхом: зафіксувати країну на графіку з випадаючого вікна і порівнювати з країною вибору на карті. Ідея для покращення -- динамічно додавати легенду в залежності від вибору країн, проте реалізація додавання легенди в бібліотеці altair унеможливлює появу легенди після кліку, а якщо залишати легенду за дефолтними параметрами, то вона займатиме значиний обсяг візуалізації, і буде просто непотрібною (коли відображаються лінійні тренди для усіх країн). Я знаю, що в такому випадку користувачу доводитиметься наводити на лінію для показу назви конкретної країни, проте кращого рішення я не знайшла.

Гістограма була б і справді чудовим рішенням замість лінійного графіку, проте також не вирішує проблеми багатолінійності, а тренд зчитується складніше.

In [92]:

histogram_context = alt.Chart(data).mark_bar(color = 'lightgray').encode(
    x = alt.X(field='Year', 
              type='temporal'
             ),
    y = alt.Y('Quantity:Q', title='Quantity of goods exported, kg'))

hist = alt.Chart(data).mark_bar(color = 'lightgray').encode(
    x = alt.X(field='Year', 
              type='temporal'
             ),
    y = alt.Y('Quantity:Q', title='Quantity of goods exported, kg'),
    detail = alt.Detail('name:N'),
    tooltip = [
        alt.Tooltip('name:O', title='Country name')
    ],
    color = alt.condition((select_lines) | (select_region_map) |(select_region_lines), 
#                           alt.value('#476930'), 
                          alt.Color('name:N', legend=None),
                          alt.value("darkgrey"))
).add_selection(select_lines
).add_selection(select_region_lines
).transform_filter( (select_lines) | (select_region_map) | (select_region_lines)
).properties(width = 600, height = 400)

histogram = (histogram_context+hist)
alt.hconcat(map__, 
            histogram
           ).configure_view(
    strokeWidth=0
).configure_title(fontSize=17).configure_axis(
    labelFontSize=10,
    titleFontSize=17
).configure_legend(orient='bottom', labelLimit=2)

Displaying chart at http://localhost:19857/